body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    line-height: 1.6;
    color: #333;
}


header {
    background-color: #2c2c2c; 
    color: #ffffff;
    padding: 30px 10px;
    text-align: center;
    border-bottom: 6px solid #FF00FF; 
}

header img {
    width: 140px;
    margin-bottom: 10px;
}


nav {
    background-color: #0040FF; 
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 17px;
}

nav a:hover {
    color: #FF00FF;
}





main {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    color: #0040FF;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}


.contenedor-equipo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

article {
    width: 28%;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

article img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #0040FF;
}


.img-grande {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.galeria-fotos {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.galeria-fotos img {
    width: 50%;
    border-radius: 8px;
}




ul {
    text-align: left;
    display: inline-block;
    max-width: 600px;
}

li {
    margin-bottom: 15px;
}




.boton-google {
    display: inline-block;
    background-color: #FF00FF;
    color: white;
    padding: 18px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin: 30px 0;
    transition: 0.3s;
}

.boton-google:hover {
    background-color: #0040FF;
    transform: scale(1.05);
}

.datos-finales {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}






footer {
    text-align: center;
    padding: 40px;
    color: #777;
    font-size: 14px;
}


.galeria-proyectos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.galeria-proyectos img {
    width: 22%; /* Para que quepan 4 en una fila */
    min-width: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* Estilos para las FAQ */
.contenedor-faq {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #0040FF;
}

.contenedor-faq p {
    margin-bottom: 20px;
}

.contenedor-faq strong {
    color: #0040FF;
    display: block;
    margin-bottom: 5px;
}